<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <p style="font-family: 'Arvo', serif;">Dear {{name}}</p>
    <p style="font-family: 'Arvo', serif;">You have been successfully added as a {{usertype}} in antway</p><br>
    <span style="font-family: 'Arvo', serif;">Your credentials are </span><br>
    <p style="font-family: 'Arvo', serif;"> Phonenumber :{{phonenumber}}</p>
    <p style="font-family: 'Arvo', serif;"> Password :{{password}}</p><br>
    <p style="font-family: 'Arvo', serif;">You can download the app from </p>
    <img style="width: 30px; height:30px" alt="playstore" src="https://www.notebookcheck.net/fileadmin/_processed_/0/3/csm_20180131_Play_Store_Logo_a0dbd3d8e5.png">
    <img style="width: 30px; height:30px" alt="playstore" src="https://cergntnu.files.wordpress.com/2016/10/web-ios-logo.jpg">
    </body>
</html>